.DS_Store
.qmake.stash
GeneratedFiles/
Makefile
release/
2708prg.X/build/*
2708prg.X/build/default/*
2708prg.X/dist/*
2708prg.X/dist/default/production/*
2708prg.X/nbproject/*
.vs/
2708_PRG.sln
2708prg/
Backup/
UpgradeLog.htm
x64/
