.DS_Store
.qmake.stash
GeneratedFiles/
Makefile
release/
2716prg.X/build/*
2716prg.X/build/default/*
2716prg.X/dist/*
2716prg.X/dist/default/production/*
2716prg.X/nbproject/*
2716prg.X/default/*
.vs/
2716_PRG.sln
2716prg/
Backup/
UpgradeLog.htm
x64/
